html

  head
    link(rel='stylesheet', type='text/css',
         href='/lib/bootstrap/dist/css/bootstrap.min.css')

    link(rel='stylesheet', type='text/css',
         href='/css/base.css')

    script(type='text/javascript', src='/lib/jquery/jquery.js')
    script(type='text/javascript', src='/lib/bootstrap/dist/js/bootstrap.js')

    block head

  body
    .top-container
      .header
        a(href='/')
          .header-title
            h1 d-clock 
              small a web enabled dementia clock
        
        ul.nav.nav-pills.pull-right.top-nav
          li: a(href='/dashboard/') Dashboard
          li: a(href='#') About
          li: a(href='#') Help

      if !hideUserInfo
        .user-info
          if user
            p
              |Hello, 
              strong #{ user.email }
              |!
              br
              a(href='/sign-out/') Sign out
          else
            a(href='/sign-in/') Sign in 
            b / 
            a(href='/register/') Register

      .content
        block content

      .footer
        h3
          small &copy;2015 d-clock, inc
