extends base

block head
    link(type='text/css', rel='stylesheet',
         href='/lib/fontawesome/css/font-awesome.css')
    link(type='text/css', rel='stylesheet', href='/css/dashboard.css')

block content
    #dashboard

    script(type='text/javascript', src='/lib/requirejs/require.js')
    script(type='text/javascript', src='/js/requireConfig.js')
    script(type='text/javascript').
        require(['react', 'dashboard'], function (React, Dashboard) {
            // Handle click events on a touch device
            React.initializeTouchEvents(true);

            React.render(
                React.createElement(Dashboard),
                document.getElementById('dashboard')
            );
        });
