extends base

block head
    script(type='text/javascript', src='/lib/react/react-with-addons.js')

    link(type='text/css', rel='stylesheet',
         href='/lib/fontawesome/css/font-awesome.css')
    link(type='text/css', rel='stylesheet', href='/css/dashboard.css')

block content
    #dashboard

    script(type='text/javascript', src='/js/modal.js')
    script(type='text/javascript', src='/js/dashboard.js')
