extends base

block head
    script(type='text/javascript', src='/lib/react/react-with-addons.js')
    script(type='text/javascript', src='/lib/react/JSXTransformer.js')

block content
    #dashboard

    script(type='text/jsx', src='/js/dashboard.jsx')
