include ./mixins/user-form

extends base

block head
  +userFormCss
  +userFormJs('register-form', {
      rules: {
        email: {
          required: true,
          email: true
        },

        password: {
          required: true,
          minlength: 6
        },

        confirm: {
          required: true,
          equalTo: '#pass'
        }
      },

      messages: {
        email: {
          required: 'Please enter an email address.',
          email: 'Please enter a valid email address.'
        },

        password: {
          required: 'Please enter a password.',
          minlength: 'Passwords must be at least 6 characters'
        },

        confirm: {
          required: 'Please re-enter your password.',
          equalTo: 'Password does not match the above password.'
        }
      }
    }
  )

block content
  +userForm('/api/auth-register/', 'register-form')
      input.form-control.field(type='email', placeholder='email', name='email')
      input.form-control.field#pass(type='password', placeholder='password',
                               name='password')
      input.form-control.field(type='password', placeholder='confirm password',
                               name='confirm')
      input.form-control.btn.btn-success.submit-btn(type='submit',
                                                    value='Register')
