.top-container {
    width: 60%;
    margin: 0 auto;
}

.header {
    margin-bottom: 20px;
    margin-top: 20px;
}

.header-title {
    color: #ED6B7C;
    display: inline-block;
}

.header-title h1 {
    margin: 0;
}

.top-nav {
    display: inline-block;
    font-size: 1.5em;
}

.top-nav a {
    color: #ED6B7C;
}

.top-nav li:hover {
    border-bottom: 1px solid #ED6B7C;
}

.user-info {
    margin: 10px;
    text-align: center;
}

.content {
    border: 2px solid #85EDE0;
    width: 100%;
    font-size: 1.2em;
    padding: 2.5em;
}

.footer {
    text-align: center;
}
